@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.glow {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 
               0 0 10px rgba(255, 255, 255, 0.6), 
               0 0 15px rgba(255, 255, 255, 0.4);
               
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.hide{
  opacity:0;
  transition: all 3s;
  filter:blur(5px);
  transform: scale(1.2);
}
.hideLoadInElement{
  opacity:0;
  transition: all 4s;
  filter:blur(5px);
  transform: scale(1.2);
}
.hideCheesyQuote{
  opacity:0;
  transition: all 4s;
  filter:blur(5px);
  transform: scale(1.8);
}
.hideTop{
  opacity:0;
  transition: all 3s;
  filter:blur(5px);
  transform: scale(1.2) translateY(-50%);
}
.hideBottom{
  opacity:0;
  transition: all 3s;
  filter:blur(5px);
  transform: scale(1.2) translateY(50%);
}
.hideLeft{
  opacity:0;
  transition: all 3s;
  filter:blur(5px);
  transform: scale(1.2) translateX(-50%);
}
.hideRight{
  opacity:0;
  transition: all 3s;
  filter:blur(5px);
  transform: scale(1.2) translateX(50%);
}
.show{
  opacity:1;
  filter:blur(0px);
  transform: scale(1) translateY(0) translateX(0);

}
.flip-y {
  transform: rotateY(180deg);
}

.flip-x {
  transform: rotateX(180deg);
}
.social_logo:nth-child(2){
  transition-delay: 300ms;
}
.social_logo:nth-child(3){
  transition-delay: 600ms;
}
@keyframes blink {
  0%, 1% { opacity: 1; }
  2%, 3% { opacity: 0; } /* Fully visible */
  4%, 5% { opacity: 1; } /* Fully visible */
  6%, 7% { opacity: 0; } /* Fully visible */

  8%, 100% { opacity: 1; } /* Stay visible */
}
.blink { animation: blink 3s  infinite; }

@keyframes nameSlider {
  0%, 16% { opacity: 1; } /* Fully visible */
  17%, 100% { opacity: 0; } /* Stay visible */
}

/* Apply animation to each h1 with a delay for each */
.nameSlider h1:nth-child(1) { animation: nameSlider 18s infinite; }
.nameSlider h1:nth-child(2) { animation: nameSlider 18s infinite 3s; }
.nameSlider h1:nth-child(3) { animation: nameSlider 18s infinite 6s; }
.nameSlider h1:nth-child(4) { animation: nameSlider 18s infinite 9s; }
.nameSlider h1:nth-child(5) { animation: nameSlider 18s infinite 12s; }
.nameSlider h1:nth-child(6) { animation: nameSlider 18s infinite 15s; }
